## Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Build and packaging
build/
dist/
downloads/
eggs/
*.egg-info/
*.egg
wheels/
sdist/
develop-eggs/
.installed.cfg
MANIFEST

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# OS
.DS_Store
.DS_Store?

# Docker
.dockerignore

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Logs and temp files
*.log
logs/
*.tmp
*.temp

# Secrets
secrets/

# Terraform
terraform/prometheus.yml
